<%- include ("./partials/_header") %>


<form class="form-signin" action="/config/<%= id%>" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">User configuration</h1>
    
    <label for="inputEmail" class="">Email address</label>
    <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" readonly value= "<%= email%>">
    <!--
    <label for="inputPassword" class="">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" value= "<%= password%>">
    -->
    <label for="inputName" class="">Name</label>
    <input type="name" id="inputName" class="form-control" name="name" placeholder="Name" value= "<%= name%>">
    <label for="inputLastName" class="">Last Name</label>
    <input type="lastname" id="inputLastName" class="form-control" name="lastname" placeholder="Lastname" value= "<%= lastname%>">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
    <a href="/delete/<%= id%>" class="btn btn-lg btn-secondary btn-block" role="button">Delete User</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</form>


<%- include ("./partials/_footer") %>