<%- include ("./partials/_header") %>


<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Translate</h2>
        <form action="/translate" method="POST">
          <!--<div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" autocomplete="off">
          </div>-->
          <p class="user-data">Name: <%= name%> Lastname: <%= lastname%></p>
          <div class="form-group">
            <textarea class="form-control" name="text" cols="100" rows="10"
              placeholder="Add a Translation"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Translate</button>
        </form>
      </div>
    </div>

    <div class = "translation-result">
      <h2 class = "translation-result-title">Result:</h2>
      <p class = "translation-result-data"><%= translation %></p>
    </div>

  </div>
</main>


<%- include ("./partials/_footer") %>